<h2>Expansion-panel content</h2>


<h4>The mat-expansion-panel-header shows a summary of the panel content and acts as the control for expanding and
      collapsing. This header may optionally contain an mat-panel-title and an mat-panel-description, which format
                  the content of the header to align with Material Design specifications.

                  By default, the expansion-panel header includes a toggle icon at the end of the header to indicate the
                  expansion state. This icon can be hidden via the hideToggle property</h4>
<h5>This is the Example of Accordion</h5>

<mat-accordion>
      <mat-expansion-panel>


      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                  <mat-panel-title>
                        Accordian Panel
                  </mat-panel-title>
                  <mat-panel-description>
                        Currently I am {{panelOpenState ? 'open' : 'closed'}}
                  </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Gotcha      !!!!!!!! </p>
      <img src="/assets/gojo.png" class="gojo"  placeholder="data:image/png;base64,iVBORw0K..." />
      </mat-expansion-panel>
</mat-accordion>


<h4>Accessibility</h4>

<h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
            header has role="button" and also the attribute aria-controls with the expansion panel's id as value.

            The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
            to switch between expanded state and collapsed state. Because the header acts as a button, additional
            interactive elements should not be put inside of the header.</h5>

<h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
      header has role="button" and also the attribute aria-controls with the expansion panel's id as value.

      The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
      to switch between expanded state and collapsed state. Because the header acts as a button, additional
      interactive elements should not be put inside of the header.</h5><h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
            header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
      
            The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
            to switch between expanded state and collapsed state. Because the header acts as a button, additional
            interactive elements should not be put inside of the header.</h5><h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
                  header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
            
                  The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
                  to switch between expanded state and collapsed state. Because the header acts as a button, additional
                  interactive elements should not be put inside of the header.</h5>

                  <h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
                        header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
                  
                        The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
                        to switch between expanded state and collapsed state. Because the header acts as a button, additional
                        interactive elements should not be put inside of the header.</h5>
                  <h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
                        header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
                  
                        The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
                        to switch between expanded state and collapsed state. Because the header acts as a button, additional
                        interactive elements should not be put inside of the header.</h5>
                  <h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
                        header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
                  
                        The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
                        to switch between expanded state and collapsed state. Because the header acts as a button, additional
                        interactive elements should not be put inside of the header.</h5>
                        <h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
                              header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
                        
                              The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
                              to switch between expanded state and collapsed state. Because the header acts as a button, additional
                              interactive elements should not be put inside of the header.</h5>
                        <h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
                              header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
                        
                              The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
                              to switch between expanded state and collapsed state. Because the header acts as a button, additional
                              interactive elements should not be put inside of the header.</h5>
                        <h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
                              header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
                        
                              The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
                              to switch between expanded state and collapsed state. Because the header acts as a button, additional
                              interactive elements should not be put inside of the header.</h5>
                              <h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
                                    header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
                              
                                    The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
                                    to switch between expanded state and collapsed state. Because the header acts as a button, additional
                                    interactive elements should not be put inside of the header.</h5>
                              <h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
                                    header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
                              
                                    The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
                                    to switch between expanded state and collapsed state. Because the header acts as a button, additional
                                    interactive elements should not be put inside of the header.</h5>
                              <h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
                                    header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
                              
                                    The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
                                    to switch between expanded state and collapsed state. Because the header acts as a button, additional
                                    interactive elements should not be put inside of the header.</h5>
                                    <h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
                                          header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
                                    
                                          The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
                                          to switch between expanded state and collapsed state. Because the header acts as a button, additional
                                          interactive elements should not be put inside of the header.</h5>
                                    <h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
                                          header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
                                    
                                          The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
                                          to switch between expanded state and collapsed state. Because the header acts as a button, additional
                                          interactive elements should not be put inside of the header.</h5>
                                    <h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
                                          header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
                                    
                                          The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
                                          to switch between expanded state and collapsed state. Because the header acts as a button, additional
                                          interactive elements should not be put inside of the header.</h5>
                                          <h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
                                                header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
                                          
                                                The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
                                                to switch between expanded state and collapsed state. Because the header acts as a button, additional
                                                interactive elements should not be put inside of the header.</h5>
                                          <h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
                                                header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
                                          
                                                The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
                                                to switch between expanded state and collapsed state. Because the header acts as a button, additional
                                                interactive elements should not be put inside of the header.</h5>
                                          <h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
                                                header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
                                          
                                                The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
                                                to switch between expanded state and collapsed state. Because the header acts as a button, additional
                                                interactive elements should not be put inside of the header.</h5>
                                                <h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
                                                      header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
                                                
                                                      The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
                                                      to switch between expanded state and collapsed state. Because the header acts as a button, additional
                                                      interactive elements should not be put inside of the header.</h5>
                                                <h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
                                                      header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
                                                
                                                      The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
                                                      to switch between expanded state and collapsed state. Because the header acts as a button, additional
                                                      interactive elements should not be put inside of the header.</h5>
                                                <h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
                                                      header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
                                                
                                                      The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
                                                      to switch between expanded state and collapsed state. Because the header acts as a button, additional
                                                      interactive elements should not be put inside of the header.</h5>
                                                      <h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
                                                            header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
                                                      
                                                            The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
                                                            to switch between expanded state and collapsed state. Because the header acts as a button, additional
                                                            interactive elements should not be put inside of the header.</h5>
                                                      <h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
                                                            header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
                                                      
                                                            The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
                                                            to switch between expanded state and collapsed state. Because the header acts as a button, additional
                                                            interactive elements should not be put inside of the header.</h5>
                                                      <h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
                                                            header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
                                                      
                                                            The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
                                                            to switch between expanded state and collapsed state. Because the header acts as a button, additional
                                                            interactive elements should not be put inside of the header.</h5>
                                                            <h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
                                                                  header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
                                                            
                                                                  The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
                                                                  to switch between expanded state and collapsed state. Because the header acts as a button, additional
                                                                  interactive elements should not be put inside of the header.</h5>
                                                            <h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
                                                                  header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
                                                            
                                                                  The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
                                                                  to switch between expanded state and collapsed state. Because the header acts as a button, additional
                                                                  interactive elements should not be put inside of the header.</h5>
                                                            <h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
                                                                  header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
                                                            
                                                                  The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
                                                                  to switch between expanded state and collapsed state. Because the header acts as a button, additional
                                                                  interactive elements should not be put inside of the header.</h5>
                                                                  <h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
                                                                        header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
                                                                  
                                                                        The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
                                                                        to switch between expanded state and collapsed state. Because the header acts as a button, additional
                                                                        interactive elements should not be put inside of the header.</h5>
                                                                  <h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
                                                                        header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
                                                                  
                                                                        The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
                                                                        to switch between expanded state and collapsed state. Because the header acts as a button, additional
                                                                        interactive elements should not be put inside of the header.</h5>
                                                                  <h5>The expansion-panel aims to mimic the experience of the native details and summary elements. The expansion panel
                                                                        header has role="button" and also the attribute aria-controls with the expansion panel's id as value.
                                                                  
                                                                        The expansion panel headers are buttons. Users can use the keyboard to activate the expansion panel header
                                                                        to switch between expanded state and collapsed state. Because the header acts as a button, additional
                                                                        interactive elements should not be put inside of the header.</h5>

                  <app-scroll-top></app-scroll-top>




