<p>Single Select!</p>
<p>
      Bleach Cast :
      <mat-button-toggle-group #group="matButtonToggleGroup" appearance="legacy" name="fontStyle"
            aria-label="Font Style">
            <mat-button-toggle value="Ichigo">Ichigo</mat-button-toggle>
            <mat-button-toggle value="Aizen">Aizen</mat-button-toggle>
            <mat-button-toggle value="Kyoraku">Kyoraku</mat-button-toggle>
            <mat-button-toggle value="Kenpachi">Kenpachi</mat-button-toggle>
            <mat-button-toggle value="Byakuya">Byakuya</mat-button-toggle>
      </mat-button-toggle-group>
</p>


<h3 *ngIf="group.value=== 'Ichigo' ">Ban - Kai Tensa Zangetsu</h3>
<h3 *ngIf="group.value=== 'Aizen' ">Yokoso Watashi no Soul Society Yare Yare !</h3>
<h3 *ngIf="group.value=== 'Kyoraku' "> Bankai Katen Kyokatsu Karamatsu Shinju</h3>
<h3 *ngIf="group.value=== 'Kenpachi' ">Arrrrrrrrrr</h3>
<h3 *ngIf="group.value=== 'Byakuya' "> Bankai Senbonzakura Kageyoshi</h3>

Multiple Select !



<mat-button-toggle-group #groups="matButtonToggleGroup" appearance="legacy" name="fontStyle" aria-label="Font Style" multiple>
      <mat-button-toggle value="Ichigo">Ichigo</mat-button-toggle>
      <mat-button-toggle value="Aizen">Aizen</mat-button-toggle>
      <mat-button-toggle value="Kyoraku">Kyoraku</mat-button-toggle>
      <mat-button-toggle value="Kenpachi">Kenpachi</mat-button-toggle>
      <mat-button-toggle value="Byakuya">Byakuya</mat-button-toggle>

</mat-button-toggle-group>
<h3>{{groups.value}}</h3>