<p>button works!</p>

<div style="display:flex;flex-direction:column">
<button mat-button> Mat Button</button>
<div style="padding-bottom:10px"></div>
<button mat-raised-button>Mat Raised Button</button>
<div style="padding-bottom:10px"></div>
<button mat-stroked-button>Mat Stroked Button <button mat-fab>Mat Fab</button></button>
<div style="padding-bottom:10px"></div>
<button mat-flat-button>Mat Flat Button <button mat-mini-fab>Mat Fab</button></button>
<div style="padding-bottom:10px"></div>
<button><mat-icon>home</mat-icon></button>
<div style="padding-bottom:10px"></div>
<button mat-fab extended><mat-icon>favorite</mat-icon></button>


</div>

